@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", serif;
}

.topbar .top-navbar .navbar-header .navbar-brand {
  background: #e5e5e5;
}
.topbar .top-navbar .navbar-header .navbar-brand .logo-icon img {
  width: 100%;
  max-width: 90px;
}

.logo-text .page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #23268f;
  text-transform: uppercase;
}

#main-wrapper[data-layout="vertical"] .topbar .navbar-collapse[data-navbarbg="skin6"],
#main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin6"],
#main-wrapper[data-layout="horizontal"] .topbar .navbar-collapse[data-navbarbg="skin6"],
#main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin6"] {
  background: #414abb;
}

#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"],
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"] ul,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin1"],
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin1"] ul {
  background: linear-gradient(to top, #414abb, #323aa5);
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link,
.sidebar-nav ul .sidebar-item .sidebar-link.active,
.sidebar-nav ul .sidebar-item .sidebar-link:hover,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link {
  background: #f25657;
  color: #fff;
}

.sidebar-item .collapse.in {
  background: #110623 !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
  font-size: 16px;
}

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
  color: #f9f9f9;
  background: #626eff;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  transition: 0.5s;
  position: relative;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
  z-index: +1;
}

.sidebar-nav ul .sidebar-item .sidebar-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #f25657;
  z-index: -1;
  transition: 0.5s;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover:before {
  width: 100%;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.page-wrapper {
  background: #e4d6d324 !important;
}

.text-white p {
  color: #fff;
}

.footer a {
  color: #d5d5d5;
}

.footer a:hover {
  color: #f25657;
  background: none;
}

.footer span {
  color: #fff;
  font-weight: 400;
}

.modal.show .modal-dialog {
  top: 5% !important;
}

#maintenance-modal .modal-title {
  text-align: center;
  font-size: 22px;
}

#maintenance-modal .modal-header {
  display: initial;
  background: linear-gradient(to right, #0a3073, #0b3888);
  color: #fff;
}

#maintenance-modal .modal-header .close {
  margin: -27px 0 0;
  padding: 0;
}

#maintenance-modal p {
  font-size: 14px;
}

#maintenance-modal label {
  font-weight: 500;
  color: #272727;
  font-size: 16px;
}

#maintenance-modal .btn-primary {
  background: linear-gradient(to right, #052152, #072863);
  border-color: #340781;
  font-size: 16px;
  padding: 5px 20px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

#maintenance-modal .btn-default,
.btn-default:hover {
  border: 1px solid white !important;
  color: #ffffff !important;

  background: #be0909 !important;
  border-radius: 5px;
}

a:hover {
  color: #ffffff;
  background: #83297a;
}

.bg-myvegiz {
  background-color: #081c40 !important;
}

.page-wrapper .btn-myve:hover {
  color: white;
  background: #0a141d;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}

.page-wrapper .btn-myve {
  color: #fff;
  background: #170f9c;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
}

.page-wrapper .btn-inverse {
  color: #fff;
  outline: none;
  border: 0px;
  background: #21094c;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
}

.wizard-content .wizard > .actions > ul > li > a {
  background: #ec3f17;
}

.wizard-content .wizard > .actions > ul > li > a:hover {
  background: #032023;
  color: #fff !important;
}

.wizard-content .wizard > .steps > ul > li.current .step {
  border-color: #ff7657;
  color: #ffffff;
  background: #ec3f17;
}

.wizard-content .wizard > .steps > ul > li.done .step {
  border-color: #ff7657;
  color: #ffffff;
  background: #ec3f17;
}

.wizard-content .wizard.wizard-circle > .steps > ul > li:after,
.wizard-content .wizard.wizard-circle > .steps > ul > li:before {
  background-color: #ec3f17;
}

.wizard-content .wizard > .steps > ul > li.current > a {
  font-size: 16px;
  font-weight: 500;
  color: #ec3f17;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ec3f17;
}

.text-danger {
  color: #ec3f17 !important;
}

#main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header[data-logobg="skin1"],
#main-wrapper[data-layout="horizontal"] .topbar .top-navbar .navbar-header[data-logobg="skin1"] {
  background: #032023;
}

.page-item.active .page-link {
  z-index: 1;

  color: #fff;

  background-color: #081c40;

  border-color: #dee2e6;
}

.sidebar-link .active {
  background-image: linear-gradient(354deg, #ad490a, #f7741c);
}

.auth-wrapper .auth-box {
  background: #fffffffa;

  padding: 20px;

  box-shadow: 1px 0 20px rgb(255 255 255 / 57%);

  max-width: 400px;

  width: 100%;

  margin: 10% 0;

  border-radius: 20px;
}

html[dir="ltr"] body .m-b-20 {
  margin: 15px 0 0px;

  color: #2e3192;

  font-size: 14px;

  font-weight: 500;

  background: #e8f0fe;

  display: inline-block;

  padding: 7px 15px;

  border-radius: 25px;
}

.input-group-text {
  background-color: #ff9800;
}

.text-dark {
  color: #fff !important;
}

#loginform .input-group-text {
  background-color: #9f2385;
  border-radius: 10px 0 0 10px;
  border: 1px solid #9f2385;
}

#loginform i {
  color: #fff;
}

#loginform input {
  border: 1px solid rgb(224 224 224);
}

#loginform a {
  color: #000 !important;
}

#loginform a .fa {
  color: #000;
}

#loginform .float-right:hover {
  background: #fff;
  color: red !important;
}

#loginform label {
  color: #5a5e64;
  font-weight: 400;
}

.page-breadcrumb .breadcrumb-item a {
  color: #f25657;
}

.page-breadcrumb .breadcrumb-item a:hover {
  color: #ec3f17;
  background: none;
}

.logo-text .light-logo {
  width: 95%;
}

.text-dark:hover {
  color: #ff9800 !important;
}

label {
  font-weight: 500;

  color: #525252;
}

a.text-dark:focus,
a.text-dark:hover {
  color: #ffffff !important;
}

.user-dd a:hover {
  color: #fff;
  background: #f25657;
}

.user-dd a {
  padding: 12px;
  background: #efefef;
  border-bottom: 1px solid #fff;
}

.select2-container {
  /*width:100% !important;*/

  padding: 0.15rem 0.75rem;

  color: #4f5467 !important;

  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.25);

  border-radius: 2px;
}

.select2-container--default .select2-selection--single {
  border: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #4f5467 !important;
}

.note-editor.note-frame {
  z-index: auto;
}

.label-success {
  background-color: #438a1f;
  padding: 5px 5px;
}

.dropdown-item:hover {
  color: #fff;
  background: #160f9b;
}
.mywarning:hover {
  color: #fff;
  background: #0a141d;
}

.btn-dark {
  background-color: #160e99;
  border-color: #160e99;
  padding: 2px 10px;
}

a.btn-danger {
  color: #ffffff !important;
}

.table th,
.table thead th {
  background: #414abb;
  color: #fff;
}

#datatableAdd {
  width: 1300px !important;
}

.pagination .previous .page-link {
  background: #160e9e !important;
  border-radius: 5px 0 0 5px;
  color: #fff;
  padding: 8px 15px;
}

.pagination .next .page-link {
  background: #160e9e !important;
  border-radius: 0 5px 5px 0;
  color: #fff;
  padding: 8px 15px;
}

.pagination .page-item.active .page-link {
  background-color: #f25657;
}

.pagination .page-link:hover {
  background: #ec3f17;
  color: #fff;
}

.label-warning {
  background-color: #d2910e;
}

.table td,
.table th {
  padding: 10px;
}

.label-primary,
.label-purple {
  background-color: #247f5a;
}

.badge-info {
  color: #fff;
  background-color: #475823d1;
}

.btn-success,
.btn {
  border-radius: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(251 249 249);
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid #f1f1f1;
}

.form-control {
  border: 1px solid #3c5881;
  border-radius: 10px;
}

.maintenance-btn:hover {
  background: none;
}

.maintenance-btn label {
  color: #ff822c;
  font-size: 16px;
}

.footer {
  margin-left: 0rem;
  background: #3f48b8;
  color: #ffffffc2;
  letter-spacing: 0.5px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .footer {
    margin-left: 0;
  }
}

.note-toolbar {
  z-index: 0;
}

.align-self-center h4 {
  color: #190a32;

  font-weight: 700;

  margin: 0 0 10px !important;
}

.align-self-center span {
  color: #e45d00;

  font-size: 14px;

  letter-spacing: 0.5px;

  font-weight: 400;
}

.dash-card .icons {
  float: left;
  margin: 0;
  color: #160f9b;
  position: absolute;
  top: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 3px;
  left: 10px;
  transition: 0.5s;
}
.dash-card .icons .fa {
  font-size: 30px;
}
.dash-card .card {
  background: linear-gradient(to top, #770fa3, #bd4cec);
  transition: 0.5s;
  border-radius: 10px;
}
.dash-card .card:hover {
  box-shadow: 0px 0px 7px 5px #0000001f;
}
.dash-card .card:hover .icons {
  background: #0f0b56;
  color: #ffffff;
}
.dash-card .col-lg-3:nth-child(2) .card {
  background: linear-gradient(to top, #cb4517, #eb6c40);
}
.dash-card .col-lg-3:nth-child(3) .card {
  background: linear-gradient(to top, #057eaf, #00aaef);
}
.dash-card .col-lg-3:nth-child(4) .card {
  background: linear-gradient(to top, #4a9308, #00ef4a);
}
.dash-card .card h6 {
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0;
}
.dash-card .card .crypto h4 {
  color: #fff;
  text-align: center;
  background: #00000012;
  padding: 7px 0;
}

@media only screen and (max-width: 768px) {
  .topbar .nav-toggler,
  .topbar .topbartoggler {
    color: #ffdc97 !important;
  }
}

.select2-container {
  border: 1px solid #3c5881;
  border-radius: 10px;
}

.select2-selection {
  overflow: hidden;
}

.select2-selection__rendered {
  white-space: normal;
  word-break: break-all;
}

@media (max-width: 400px) {
  select.my-x-select + span.select2 {
    width: 200px !important;
  }
}
