.book-slider {
    background-color: #ffffff;
}

.alternate-color {
    background-color: #d6e4fd;
}

.alternate-color:nth-child(odd) {
    background-color: #ecf8ff;
}

.category-section .prev-button {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 40%;
    border-radius: 0px;
    transform: translateY(-50%);
    /* top: 0px; */
    /* left: 0; */
    /* bottom: 0px; */
    background-color: rgba(3, 2, 2, 0.5);
    opacity: 0.8;
    /* color: #3151b4; */
    color: white;
    padding: 5px;
    margin: 0;
    width: 50px;
}

.hide_button {
    display: none;
}

.category-section .next-button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 40%;
    border-radius: 0px;
    background-color: rgba(3, 2, 2, 0.5);
    transform: translateY(-50%);
    opacity: 0.8;
    color: white;
    padding: 5px;
    margin: 0;
    width: 50px;
}

.category-section h2.title {
    width: auto;
    border: 2px solid grey;
}

.category-section .big-heading {
    margin: 0 0 2rem;
    padding: 0;
    font-size: 1.3rem;
    color: #050d3b;
    font-weight: 600;
    position: relative;
}

.category-section .big-heading::before {
    position: absolute;
    content: "";
    width: 7rem;
    height: 5px;
    background: #c5c5c5;
    bottom: -15px;
    z-index: 1;
    left: 0;
    right: 0;
}

.category-section .big-heading::after {
    position: absolute;
    width: 2rem;
    height: 5px;
    background: #3152b4;
    content: "";
    left: 8rem;
    bottom: -15px;
}