body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif", serif;
  padding-right: 0 !important;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: justify;
  color: #000;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.pnm {
  padding: 0;
  margin: 0;
}
.tnb {
  padding: 100px 0;
}
.tnb5 {
  padding: 50px 0;
  position: relative;
}
.tnb3 {
  padding: 30px 0;
}
.tnb7 {
  padding: 70px 0;
}
.small-heading {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4b4f9b;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.big-heading {
  margin: 0 0 30px;
  padding: 0;
  font-size: 40px;
  color: #111636;
  font-weight: 500;
  position: relative;
  font-family: "DM Serif Text", serif;
}
.big-heading:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  background: #c5c5c5;
  bottom: -15px;
  z-index: 1;
  left: 0;
  right: 0;
}
.big-heading:after {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #414abb;
  content: "";
  left: 112px;
  bottom: -15px;
}

/*center*/
.small-heading-center {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4b4f9b;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
}
.big-heading-center {
  margin: 0 0 30px;
  padding: 0;
  font-size: 40px;
  color: #111636;
  font-weight: 500;
  position: relative;
  font-family: "DM Serif Text", serif;
  text-align: center;
}
.big-heading-center:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  background: #c5c5c5;
  bottom: -15px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.big-heading-center:after {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #414abb;
  content: "";
  left: 0;
  bottom: -30px;
  margin: 0 auto;
  right: 0;
}
/*center*/


.more_btn {
  background: #3e47b2;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 15px 35px;
  display: inline-block;
  margin: 30px 0 0;
  text-decoration: none;
  transition: 0.5s;
  animation-delay: 1s;
  animation-duration: 1s;
  font-weight: 600;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.more_btn:hover {
  color: #fff;
}
.more_btn:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: 100%;
  background: #0f0b56;
  transition: 0.5s;
  z-index: -1;
  margin: 0 auto;
  right: 0;
  opacity: 0;
}
.more_btn:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  opacity: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
/*nav*/

.img-top {
  float: left;
  text-align: left;
}
.img-top img {
  width: 25%;
  border-radius: 10px;
}

.main-nav {
  z-index: 2;
  padding: 0; /*background: #fff;*/
}
.new-nav {
  padding: 0;
  margin: 0;
}
.new-nav a {
  text-decoration: none;
  padding: 5px 0;
  z-index: 2;
}
.logo h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.new-nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 70px;
  padding: 0px 15px;
  transition: 0.5s;
}
.new-nav ul li a:hover {
  text-decoration: none;
  color: #fb90e4;
}
.new-nav .contact_btn {
  background: linear-gradient(to right, #ff5917, #ff9317);
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 0 15px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  text-transform: uppercase;
}
.new-nav .contact_btn:before {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  background-color: #10429a;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  content: "";
  z-index: -1;
  width: 50px;
  border-radius: 30px;
}
.new-nav .contact_btn:hover:before {
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
}
.logo img {
  width: 100%;
  max-width: 80px;
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0 10px 0 0;
  transition: 0.5s;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
/*.logo h2{color: #ffffff;  z-index: 2; display: inline-block; padding: 14px 0; font-weight: 800; width: 60px; height: 60px; text-align: center;} 
.logo span{color: #fff;  font-size: 30px; font-weight: 600; margin: 0 0 0 10px;}*/
.new-nav .active {
  color: #414abb !important;
}
.new-nav .log {
  background: #414abb;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
}
.new-nav .log:before {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  bottom: -35px;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.new-nav .log:hover:before {
  bottom: 0;
}
.mt {
  margin: 50px 0 0;
}
.mt3 {
  margin: 30px 0 0;
}
.mt10 {
  margin: 10px 0 0;
}

/*main-slider*/
.main-slider {
  position: relative;
  overflow: hidden;
  margin-top: -105px;
}
.main-slider img {
  width: 100%;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.login .modal-content {
  padding: 20px;
}
.login .modal-header {
  text-align: center;
  background: #f3f3f3;
  display: block;
  position: relative;
  padding: 10px;
}
.login .modal-header .close {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: -10px;
  font-size: 40px;
}
.login .modal-header h5 {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
  background: #2e3192;
}
.login .btn-primary {
  color: #fff;
  display: block;
  margin: 18px auto 0;
  padding: 7px 30px;
  font-size: 20px;
  background: #2e3192;
  border: 0;
}
.login .btn-primary:hover {
  background: #2e3192;
  color: #fff;
}
.login .form-group label {
  font-size: 20px;
}
.login .form-group input {
  padding: 10px;
  height: 50px;
  background: #a9a9a924;
  border: 1px solid #ffffff36;
  color: #000;
}
.login .modal-header img {
  width: 25%;
}
.login .modal-body {
  padding: 10px 0;
}

.slider-img {
  position: relative;
  overflow: hidden;
}
.slider-img:before {
  position: absolute;
  content: "";
  background: #9f2385;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.slider-text {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 1;
}
.slider-text h2 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  margin: 0 0 15px;
  line-height: 80px;
  animation-delay: 1s;
  padding: 0 200px 0 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  position: relative;
  font-family: "DM Serif Text", serif;
}
.slider-text h2:before {
  position: absolute;
  width: 100px;
  height: 5px;
  background: #414abb;
  content: "";
  left: 0;
  bottom: -25px;
}
.slider-text h2:after {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #fff;
  content: "";
  left: 112px;
  bottom: -25px;
}

.slider-text .line-img {
  width: 25%;
  margin: -15px 0px 0;
  animation-delay: 1.5s;
}
.slider-text label {
  color: #fabc02;
  letter-spacing: 1px;
  font-size: 14px;
}
.slider-text span {
  color: #ffffff;
  font-family: "Corinthia", cursive;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 1px 2px 1px #b3b3b3;
}
.slider-text p {
  color: #fff;
  padding: 40px 470px 0 0;
  font-size: 24px;
}

.slider-text .more_btn {
  background: #fff;
  color: #000;
  font-size: 24px;
  letter-spacing: 0.5px;
  padding: 15px 45px;
  display: inline-block;
  margin: 30px 0 0;
  text-decoration: none;
  transition: 0.5s;
  animation-delay: 1s;
  animation-duration: 1s;
  font-weight: 600;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 1px solid white;
}
.slider-text .more_btn:hover {
  color: #fff;
}
.slider-text .more_btn:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: 100%;
  background: #2e3192;
  transition: 0.5s;
  z-index: -1;
  margin: 0 auto;
  right: 0;
  opacity: 0;
}
.slider-text .more_btn:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  opacity: 5;
}

.new-nav .log {
  background: #414abb;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
}
.new-nav .log:before {
  background: #2e3192;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  bottom: -35px;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.new-nav .log:hover:before {
  bottom: 0;
}

/*abut*/
.main-about {
  position: relative;
  overflow: hidden;
}
.main-about:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #f1eeee;
  width: 490px;
  height: 100%;
  z-index: -1;
}
.abut-text-img {
  position: relative;
}
.abut-text-img:before {
  position: absolute;
  content: "";
  top: 35px;
  width: 10%;
  right: -11px;
  height: 85%;
  background: #414abb;
  z-index: -1;
}
.abut-text .big-heading span {
  color: #414abb;
  font-size: 18px;
  font-weight: 500;
  margin: -5px 0 0;
  display: block;
  font-family: "Roboto";
}
.abut-text {
  padding: 0 0 0 50px;
}
.abut-text h5 {
  color: #1b1924;
  font-size: 27px;
  font-weight: 600;
}
.abut-text label {
  color: #857676;
  margin: 0;
}
.dot-6 {
  position: absolute;
  top: 100px;
  left: 85px;
  animation: zoom-in-zoom-out 20s ease infinite;
  z-index: -1;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.main-body {
  background: url(../images/bg-1.png);
  background-attachment: fixed;
  background-size: cover;
  padding: 70px 0 0;
}
.main-body-text .big-heading:before {
  margin: 0;
}
.main-body-text .big-heading {
  font-size: 30px;
  color: #0c2d62;
}
.main-body-text .table {
  width: 62%;
  margin: 30px auto;
}
.main-body-text tr th h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: #1f3763;
  padding: 13px 30px;
  margin: 0;
}
.main-body-text tr th {
  padding: 0;
}
.main-body-text tr td .fa {
  color: #414abb;
}

/*inventry-main*/
.inventry-main {
  border: 1px solid #ffdae6;
  border-radius: 10px;
  padding: 25px;
  margin: 25px 0 0;
  background: #ffffffcc;
}
.inventry-main-text .big-heading {
  text-align: center;
  color: #1f3763;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 30px;
}
.inventry-main-text .big-heading:before {
  margin: 0 auto;
}
.inventry {
  padding: 20px;
  background: #f6f7ff;
  margin: 30px 0 0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #f6f7ff;
  height: 190px;
}
.inventry h5 {
  color: #1f3763;
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: 800;
}
.inventry p {
  text-align: center;
}
.inventry-main .col-md-4:nth-child(2) .inventry {
  background: #8dceb8;
}
.inventry-main .col-md-4:nth-child(3) .inventry {
  background: #ffbc59;
}
.inventry-main .col-md-4:nth-child(4) .inventry {
  background: #a3bde0;
}
.inventry-main .col-md-4:nth-child(5) .inventry {
  background: #d7df24;
}
.inventry-main .col-md-4:nth-child(6) .inventry {
  background: #8fe292;
}
.inventry-main .col-md-4:nth-child(7) .inventry {
  background: #ffb2e0;
}
.inventry-main .col-md-4:nth-child(8) .inventry {
  background: #e3cca2;
}
.inventry-main .col-md-4:nth-child(9) .inventry {
  background: #96fbff;
}
.inventry-main .col-md-4:nth-child(10) .inventry {
  background: #e7adab;
}
.inventry-main h6 {
  text-align: center;
  margin: 30px 0 0;
  font-size: 18px;
  background: #f6f7ff;
  padding: 15px;
  border-radius: 10px;
  font-weight: 400;
}

/*.counter*/
.counter {
  background: #1c1a25 url(../images/forpoint-img1.png) no-repeat;
  background-size: cover;
  width: 100%;
  right: 150px;
  bottom: 80px;
  padding: 60px 50px;
  background-attachment: fixed;
}
.counter-Txt {
  color: #fff;
  text-align: center;
  border-left: 1px solid #626161;
}
.counter-Txt .fa {
  display: block;
  font-size: 40px;
  color: #414abb;
}
.counter-Txt span {
  font-size: 48px;
  font-weight: 600;
}
.counter-Txt h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.counter .col-md-4:nth-child(1) .counter-Txt {
  border-left: 0;
}

/*news*/
.services {
  background: #f9f9f9 url(../images/abt_bg_1.png) no-repeat top right;
}
.services-img img {
  width: 100%;
}
.services-img-text h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: #000;
  text-align: center;
  padding: 15px 0;
  transition: 0.5s;
  background: #f1f1f1;
}
.services-text {
  position: relative;
}
.services-img {
  overflow: hidden;
}
.services-img img {
  transition: 0.5s;
}
.services-text:hover .services-img img {
  transform: scale(1.2);
  filter: brightness(0.5);
}
.services-text:hover .services-img-text h4 {
  color: #fff;
  background: #414abb;
}
.services-img-text {
  z-index: 200;
  position: relative;
}
.services-text:before {
  position: absolute;
  content: "";
  border: 1px solid #ddd;
  width: calc(108%);
  height: 100%;
  border-radius: 5px;
  left: -10px;
  top: 15px;
  z-index: -1;
  transition: 0.5s;
}
.services-text:hover:before {
  border: 1px solid #414abb;
}

.services .shop-link {
    width: auto;
    margin: 0 auto;
}

.services .big-heading-center {
  margin: 0 0 60px;
}
.more {
  position: absolute;
  border: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: inline-table;
  bottom: 10px;
  z-index: 1;
  transition: 0.5s;
}
.more a {
  color: #000;
  background: #ffffff;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 20px;
}
.more a:hover {
  background: #535ff7;
  color: #fff;
}
.services-text:hover .more {
  bottom: 100px;
}

.services .services-btn{
	background:#ed1c24 !important;
}

/*publications*/
.publications {
  background: #f25657;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.publications:before {
  position: absolute;
  content: "";
  width: 20%;
  right: 0;
  height: 100%;
  background: #414abb;
  top: 0;
}
.publications-text {
  padding: 70px 0 0 0;
}
.publications-text .small-heading {
  color: #fff;
}
.publications-text .big-heading {
  color: #fff;
}
.publications-text p {
  color: #fff;
}
.publications-text ul {
  padding: 0;
  margin: 25px 0 -10px;
}
.publications-text ul li {
  padding: 0 0px 0px 20px;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 45%;
  position: relative;
}
.publications-text ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  background: #414abb;
  width: 10px;
  height: 10px;
}
.publications-text .more_btn {
  margin: 50px 0 0;
}

/*licensed*/
.support {
  background: url(../images/bg.jpg);
}
.support p {
  text-align: center;
  margin: 0 0 20px;
}
.support .big-heading-center {
  margin: 0 0 50px;
}
.support-text {
  text-align: center;
  position: relative;
}
.support-text h4 {
  text-align: center;
  padding: 0px;
  margin: 60px 0 0;
  border-radius: 5px;
  font-size: 30pt;
  font-weight: 700;
  color: #414abb;
}
.support-text .fa {
  font-size: 70px;
  margin: 15px 0 0;
  animation: pulse 2s linear infinite;
}
.support-text:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #414abb;
  z-index: 1;
  opacity: 0;
  -webkit-animation: pulse-border-2 1.5s linear infinite;
  -moz-animation: pulse-border-2 1.5s linear infinite;
  -o-animation: pulse-border-2 1.5s linear infinite;
  animation: pulse-border-2 1.5s linear infinite;
}
.support-text:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #414abb;
  z-index: 1;
  opacity: 0;
  -webkit-animation: pulse-border 1s linear infinite;
  -moz-animation: pulse-border 1s linear infinite;
  -o-animation: pulse-border 1s linear infinite;
  animation: pulse-border 1s linear infinite;
}

@keyframes pulse-border-2 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

/*licensed*/
.licensed {
  background: #414abb url(../images/img-03.jpg) no-repeat left top;
}
.licensed-text {
  background: #598fff url(../images/dot-map.png) no-repeat;
  padding: 70px;
}
.licensed-text .small-heading {
  color: #fff;
}
.licensed-text .big-heading {
  color: #fff;
  line-height: 45px;
  margin: 0 0 60px;
}
.licensed-name h5 {
  color: #fff;
  border: 1px solid #464646;
  padding: 20px 40px;
  margin: 0 0 27px;
  border-radius: 5px;
  font-size: 14pt;
  transition: 0.2s;
  position: relative;
}
.licensed-name h5:before {
  position: absolute;
  content: "";
  left: 15px;
  top: 28px;
  background: #414abb;
  width: 10px;
  height: 10px;
}

.licensed-name h5:hover {
  color: #b5dfff;
  border: 1px solid #b5dfff;
  transform: scale(1.04);
}

/*testi-main*/
.testi-main {
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
}
.testi-main .small-heading {
  text-align: center;
}
.testi-main .big-heading {
  text-align: center;
  margin: 0 0 60px;
}
.testi-main .big-heading:before {
  margin: 0 auto;
}
.testi-main .big-heading:after {
  margin: 0 auto;
  left: 157px;
  margin: 0 auto;
  right: 0;
}
.testi-text {
  text-align: center;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  position: relative;
  margin: 45px 0;
}
.testi-text h2 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
  padding: 50px 10px 10px;
  line-height: 28px;
  color: #011a41;
}
.testi-text .fa {
  color: #0f0b56;
  font-size: 24px;
  background: #ebebeb;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 18px;
  position: absolute;
  right: 0;
  top: -40px;
  transition: 0.5s;
}
.testi-text:before {
  position: absolute;
  content: "";
  bottom: -36px;
  right: 0;
  left: 0;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #ebebeb;
}
.testi-text:hover .fa {
  background: #414abb;
  color: #fff;
}
.testi-text:hover:before {
  border-top: 35px solid #414abb;
}
.testi-text-bottom {
  text-align: center;
}
.testi-text-bottom img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-bottom: 15px;
}
.testi-text-bottom h3 {
  font-size: 24px;
}
.testi-text-bottom span {
  font-size: 16px;
  color: #6c86ff;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.testi-main .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -13px;
}
.testi-main .bx-viewport {
  height: auto !important;
  padding: 0 0 25px;
}

/*footer*/
.main-footer {
  background: #1b2138 url(../images/logo_footer.png) no-repeat center bottom;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-attachment: fixed;
}
.main-footer:before {
  background: #1823b1d6;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-footer .big-heading {
  font-size: 24px;
  color: #fff;
  text-align: left;
  font-weight: 500;
  margin: 0 0 30px;
}
.main-footer .big-heading:before {
  margin: 0;
}
.main-footer p {
  color: #fff;
}
.main-footer ul {
  padding: 0;
  margin: 0;
}
.main-footer ul li {
  padding: 0;
  margin: 0;
  display: list-item;
  list-style-type: none;
}
.main-footer ul li a {
  color: #fff;
  line-height: 35px;
  transition: 0.5s;
}
.main-footer ul li a:hover {
  color: #ff8c8c;
}
.main-footer .col-md-3:nth-child(2) .footer-text {
  padding: 0;
}
.main-footer .footer-text .fa {
  color: #f25657;
  font-size: 20px;
  padding: 0 10px 0 0;
}
.footer-text-icon {
  display: flex;
  margin: 0 0 20px;
}
.footer-text-icon .icon .fa {
  color: #fff;
  background: #414abb;
  font-size: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 0 18px 0px 0;
}
.footer-text-icon:hover .icon .fa {
  background: #f25657;
  color: #fff;
}
.main-footer .social-icon {
  padding: 20px 0;
}
.main-footer .social-icon li {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.main-footer .social-icon a .fa {
  font-size: 18px;
  margin: 0;
  color: white;
}
.main-footer .social-icon a .fa:hover {
  color: #414abb;
}
.main-footer .social-icon .big-heading {
  color: white;
}
.footer-text .big-heading img {
  width: 100%;
  max-width: 125px;
  animation: pulse 2s linear infinite;
}
.copy p {
  text-align: center;
  color: #dddddd;
  font-weight: 300;
}
.copy {
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #ffffff4f;
  border-bottom: 1px solid #ffffff4f;
}
.copy span {
  color: #dddddd;
}
.icon-text p span {
  color: #fff;
}
.dot-6 {
  position: absolute;
  top: 45px;
  left: 470px;
  animation: zoom-in-zoom-out 20s ease infinite;
  z-index: -1;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*inner-header*/
.inner-header {
  background: url(../images/inner-header.jpg) no-repeat top center;
  position: relative;
  margin-top: -100px;
  padding: 40px 0;
  background-attachment: fixed;
}
.inner-header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to top, #322fb5b3, #2f2ea1);
}
.innner-text h5 {
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.innner-text span {
  color: #fff;
  letter-spacing: 0.5px;
}
.innner-text a {
  color: #ffffffb5;
}
.innner-text a:hover {
  color: #414abb;
}
.innner-text {
  margin: 70px 0 0;
  text-align: center;
}

.contact-icon .fa {
  width: 60px;
  height: 60px;
  background: #414abb;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  padding: 13px;
  color: #fff;
  margin: 0;
  transition: 0.5s;
}
.contact-commen-text h6 {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
}
.inner-contact-divt {
  padding: 25px;
  border: 1px solid #eee;
  margin: 0px;
  text-align: center;
  height: 250px;
  transition: 0.5s;
  box-shadow: 0px 0px 13px 0px #0000001c;
}
.contact-commen-text p {
  color: #000000;
  text-align: center;
}
.inner-contact-divt:hover {
  border: 1px solid #414abb;
  box-shadow: none;
}
.inner-contact-divt:hover .contact-icon .fa {
  background: #414abb;
}
.inner-contact .big-heading-center {
  margin: 0 0 70px;
}
.inner-contact {
  background: #fbfbfb url(../images/dot-map.png) no-repeat center;
}

/*inner-abut-text*/
.inner-abut-text .big-heading-center {
  font-size: 26px;
  margin: 0 0 60px;
}
.inner-abut-text {
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.inner-abut-text-right h5 {
  color: #1b1b1c;
  font-size: 20px;
}
.inner-abut-text-right ul {
  margin: 0;
  padding: 0;
}
.inner-abut-text-right ul li p {
  line-height: 35px;
}
.inner-abut-text-right ul li {
  margin: 0;
  padding: 0 0 0 25px;
  list-style-type: none;
  position: relative;
}
.inner-abut-text-right ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 13px;
  background: #414abb;
  width: 10px;
  height: 10px;
}

/*inner services*/
.tabs_bg {
  border: 1px solid #e5e5e5;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
}

.tab-body {
  border: 1px solid #e5e5e5;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
}

.tab {
  float: left;
  background-color: #fff;
  width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 11px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-right: 3px solid #f1f1f1;
  background: #f7f7f7;
  border-left: 3px solid #f1f1f1;
  margin: 0 0 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
  color: #4f51a3;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-right: 3px solid #414abb;
  border-left: 3px solid #414abb;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-right: 3px solid #414abb;
  border-left: 3px solid #414abb;
  background: #414abb;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px;
  width: 100%;
  border-left: none;
  display: none;
  margin: 0;
}

.inner-services .contat-left-side h4 {
  text-align: center;
}
.inner-services .contat-left-side p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #414abb;
}

.tabcontent.active {
  display: block;
}
.tabcontent img {
  width: 100%;
}
.tabs_bg h4 {
  font-size: 24px;
  border-bottom: 1px dashed #ddd;
  padding: 0px 0 20px;
  margin: 0 0 25px;
  font-weight: 600;
  text-align: center;
}
.tabcontent h3 {
  font-weight: 600;
  font-size: 26px;
  margin: 0 0 15px;
  letter-spacing: 0.5px;
}
.download_bro {
  padding: 0px;
  background: #f9f9f9;
  margin: 20px 0 0;
}
.download_bro a {
  background: #414abb;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  transition: 0.5s;
  border-radius: 5px;
}
.download_bro a:hover {
  background: #414abb;
  color: #222d35;
}
.download_bro:hover .fa {
  color: #222d35;
}
.download_bro .fa {
  margin: 0 10px 0 0;
  color: #fff;
  font-size: 30px;
}
.ser_right_img img {
  width: 100%;
  margin: 20px 0 0;
}
.contat-left-side {
  border: 1px solid #e5e5e5;
  margin: 20px 0 0;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.contat-left-side h4 {
  font-size: 24px;
  border-bottom: 1px dashed #ddd;
  padding: 0px 0 20px;
  margin: 0 0 15px;
  font-weight: 600;
}
.contat-left-side span {
  color: #414abb;
  font-size: 25px;
  display: block;
  margin: 10px 0 0;
  font-weight: 600;
}
.contat-left-side .fa {
  color: #414abb;
  font-size: 46px;
  animation: pulse-border 1s linear infinite;
  margin: 10px 0;
}

.tab-body img {
  margin: 15px 0;
}
.tab-body .tabcontent ul {
  padding: 0;
  margin: 5px 0 0;
}
.tab-body .tabcontent ul li {
  padding: 0 0px 0px 20px;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 80%;
  position: relative;
}
.tab-body .tabcontent ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  background: #414abb;
  width: 10px;
  height: 10px;
}
.tab-body .tabcontent ul li p {
  line-height: 30px;
}
.tab-body .tabcontent h5 {
  margin: 10px 0;
  color: #414abb;
  font-size: 20px;
}
.tab-body .tabcontent ul a .fa {
  color: #f50e0e;
  font-size: 20px;
}
.tab-body .tabcontent table {
  background: #f7f7f759;
  display: block;
  border-radius: 5px;
  margin: 20px 0 0;
}
.tab-body .tabcontent th,
tr,
td {
  padding: 5px;
  border: 1px solid #e5e5e5;
}
.tab-body .tabcontent th {
  background: #414abb;
  padding: 10px 5px;
  color: #fff;
}
.tab-body .tabcontent table tr:nth-child(odd) {
  background: #f0f1ff;
}

.inner-trainer-text {
  padding: 15px;
  border-radius: 5px;
  background: #ffffffd6;
  border: 0;
}
.inner-trainer-text h5 {
  margin: 10px 0;
  color: #414abb;
  font-size: 20px;
  text-align: center;
}
.inner-trainer-text table {
  width: 80%;
  margin: 60px auto 0;
}
.inner-trainer-text th {
  background: #414abb;
  padding: 10px 5px;
}
.inner-trainer-text th b {
  color: #fff;
}
.inner-trainer-text table tbody tr:nth-child(odd) {
  background: #f0f1ff;
}
.inner-trainer-text th,
tr,
td {
  padding: 12px 15px;
  border: 1px solid #e5e5e5;
}
.inner-trainer-text th {
  font-size: 18px;
}

.inner-services {
  background: #f9f9f9 url(../images/abt_bg_1.png) no-repeat top right;
}
.inner_publications {
  background: #f9f9f9 url(../images/abt_bg_1.png) no-repeat top right;
}
.inner-trainer {
  background: #f9f9f9 url(../images/abt_bg_1.png) no-repeat top right;
}
.inner_publications .tab-body {
  padding: 15px;
  border-radius: 5px;
  background: #ffffffd6;
  border: 0;
}

/*loader*/
header {
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  z-index: 500;
  padding: 0;
  z-index: 2;
  /*background: #ffffff1a;*/
  /*border-bottom: 1px solid #ff5a3c3b;*/
}

header.sticky {
  position: fixed;
  width: 100%;
  background: #fffffffc;
  margin: 0;
  top: 0;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  padding: 0;
  z-index: 500;
}
header.sticky .new-nav ul li a {
  color: #000;
}
header.sticky .new-nav ul li a:hover {
  color: #050d6a;
}
header.sticky .logo h2 {
  color: #fff;
  z-index: 2;
}
header.sticky .logo span {
  color: #000;
}
header.sticky .main-nav {
  padding: 0;
  transition: 0.5s all;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
header.sticky .logo img {
  max-width: 65px;
  padding: 0;
}

/*loader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f7f9;
  z-index: 9999;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../images/loader.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  /*margin: -100px 0 0 -100px;*/
  /* is width and height divided by two */
}
/*loader*/

.bx-wrapper {
  border: 0;
  margin-bottom: 0;
  box-shadow: none;
  background: none;
}
.mnp {
  margin: 0;
  padding: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d8d8d8cf;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #414abb;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 50px;
}
/*top-btn-css*/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 35px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #414abb;
  color: #333;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  border: 1px solid white;
  z-index: 2;
  border-radius: 50%;
}
#back-to-top-btn img {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
#back-to-top-btn:hover {
  background-color: #0c1e2e;
}
