#main-banner-slider .slick-prev-button {
    left: 0 !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #75757566;
    color: #3151b4;
}

#main-banner-slider .carousel-overlay {
    position: relative;
}

#main-banner-slider .carousel-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 10%, transparent) !important;
    z-index: 1;
}

#main-banner-slider .carousel-item img {
    position: relative;
    z-index: 0;
}


#main-banner-slider .slick-next-button {
    right: 0 !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #75757566;
    color: #3151b4;
}

#main-banner-slider .slick-dots1 {
    background: #75757566;
    max-width: 300px;
    display: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 35px;
    border-radius: 20px;
}

#main-banner-slider .slick-slide img {
    width: 100%;
    height: 172px;
    object-fit: unset;
    min-height: 172px;
}


#main-banner-slider .slick-prev:before,
#main-banner-slider .slick-next:before {
    font-size: 24px;
    color: black;
}


#main-banner-slider .slick-slider {
    position: relative;
    min-height: 172px;
    max-height: 172px;
}


#main-banner-slider .slick-prev,
#main-banner-slider .slick-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}


#main-banner-slider .slick-dots li button::before {
    display: none;
}

/* Custom dot styles */
#main-banner-slider .slick-dots.custom-dots {
    bottom: -25px;
}

#main-banner-slider .slick-dots.custom-dots li {
    margin: 0 5px;
}

#main-banner-slider .slick-dots.custom-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

/* Active dot color */
#main-banner-slider .slick-dots.custom-dots li.slick-active button {
    background-color: #3151b4;
}

#main-banner-slider .slick-dots.custom-dots li span {
    color: white;
    font-size: 10px;
}

#main-banner-slider .max-height-200 {
    max-height: 120px;
    max-width: 150px;
    position: absolute !important;
    right: 100px !important;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width:425px) {
    #main-banner-slider .slick-prev-button {
        padding: 0px 0px;
        height: 30px;
        width: 30px;
    }

    #main-banner-slider .slick-next-button {
        padding: 0px 0px;
        height: 30px;
        width: 30px;
    }

    #main-banner-slider .slick-dots {
        max-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: absolute;
        top: 75%;
        left: 50%;
    }


    #main-banner-slider .slick-prev:before,
    #main-banner-slider .slick-next:before {
        font-size: 20px;
        color: black;
    }


    #main-banner-slider .slick-slider {
        position: relative;
        min-height: 172px;
        max-height: 172px;
    }


    #main-banner-slider .slick-prev,
    #main-banner-slider .slick-next {
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }


    #main-banner-slider .slick-dots li button::before {
        display: none;
    }

    /* Custom dot styles */
    #main-banner-slider .slick-dots.custom-dots {
        bottom: -25px;
    }

    #main-banner-slider .slick-dots.custom-dots li {
        margin: 0 5px;
    }

    #main-banner-slider .slick-dots.custom-dots li button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
    }

    /* Active dot color */
    #main-banner-slider .slick-dots.custom-dots li.slick-active button {
        background-color: #3151b4;
    }

    #main-banner-slider .slick-dots.custom-dots li span {
        color: white;
        font-size: 6px;
    }

    #main-banner-slider .max-height-200 {
        max-width: 150px;
        right: 50px !important;
    }
}