a{
    text-decoration: none;
}
.button-head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-btn {
    color: #fff;
}
.cart-btn {
    width: 100%;
    max-width: 180px;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: #3152b4;
    color: #3152b4;
    text-align: center;
    font-size: 15px;
    padding: 6px 0;
    transition: all 0.3s;
    padding-right: 31px;
    margin: 0px 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
  .cart-btn .btn-icon {
    background-color: #3152b4;
    width: 35px;
    height: 34px;
    display: flex;
    justify-content: end;
    align-items: center;
    float: right;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    right: 0px;
    top: 0px;
    padding-right: 10px;
    transition: all 0.3s;
  }
  .btn-icon{
    color:white
  }

  .name-descripeion {
    position: relative;
    z-index: 9999;
    font-weight: 500;
    font-size: 13px;
  }


  .cart-btn:hover .btn-icon {
    width: 100%;
    border-radius: 30px;
  }
  .cart-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
  }
  .btn-icon i {
    position: absolute;
    right: 25px;
    top: 15px;
    height: 10px;
    color: #fff;
  }
  .cart-btn {
    color: #fff;
  }
  .hover-box {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }