/*inner-header*/
.user-inner-header{position: relative;margin-top: -245px;padding: 110px 0;background-attachment: fixed;}
.user-inner-header:before{position: absolute; width: 100%; height: 100%; top: 0; left: 0; content: ''; /*background: linear-gradient(to top, #1b0e2c4a , #1e0d01);*/}
.user-innner-text h5{color: white; font-size: 36px; font-weight: 700; letter-spacing: 0.7px;}
.user-innner-text span{color: #fff; letter-spacing: 0.5px;}
.user-innner-text a{color: #f5c50eb5;}
.user-innner-text a:hover{color: #9397ff;}
.user-innner-text { margin: 70px 0 0; text-align: center;}

.dash_foot{position:fixed;margin: 0; /*background: #2e3192;*/ background:#C1943E; padding: 15px 0; width: 100%; bottom: 0}
.dash_foot p { text-align: center; color:white;/*color: #c1c1c7;*/ font-weight: 300;}

.menu_dashboard .fa{color: #9397ff;}
.menu_dashboard {z-index: 1;position: relative; /*background: #2e3192;*/ background:#3E6AC1}
.menu_dashboard .dropdown-menu{background: #C13EAC; min-width: 200px; line-height: 30px; margin: 0; right: 0;}
.menu_dashboard .dropdown-item{line-height: 40px; color: white; border-bottom: 1px solid #ffffff54;}
.menu_dashboard .dropdown-item .fa{color: #000; font-size: 18px;}
.menu_dashboard .dropdown-item:hover .fa{color: #fff;}
.menu_dashboard .dropdown-item:hover{background-color: #251c60; color: #fff;}
.menu_dashboard ul li a{padding: 0px 10px;}


/*dashboard*/
.user-top-header { z-index: 200; position: relative; box-shadow: 1px 1px #ffffff33; padding: 1px 0; /*background: url(../images/user-inner-banner.png) no-repeat top center;*/ background:#3E6AC1}
.user-top-header .logo img{max-width: 65px; margin: 5px; background: white; border-radius:5px 5px 5px 5px}
.user-top-header .right-side ul{margin:21px 0; padding: 0; text-align: right;}
.user-top-header .right-side ul li{margin: 0; padding: 0; list-style-type: none; display: inline-block; }
.user-top-header .right-side ul li p{color: #fff; border: 1px solid #767676; padding: 4px 15px; border-radius: 5px;}
.user-top-header .right-side ul li span{color: #face39;}
.dashboard {padding: 80px 0; margin-top: -160px;}
.right-side .btn{border: 1px solid #939598; color: #fff; /*background: #2e3192;*/ background:#3E6AC1;    padding: 10px;}
.right-side .btn .fa{color: #fff; margin: 0 5px 0 0; /*font-size: 20px;*/}
.right-side  .dropdown-menu.show{background: #e2e2eb; width: 178px; line-height: 35px; padding: 0; border: 0;}
.right-side .dropdown-item:hover{background-color: #251c60; color: #fff;}

.sticky .user-top-header .logo img{max-width: 70px;}

.main-user-text { padding: 10px; background: #f0f0f0; border-radius: 20px;}
.main-user{background: #f9f9f9 url(../images/abt_bg_1.png) no-repeat top right;}
.main-user-text h5{margin: 0;padding: 0;font-size: 20px;font-weight: 500;letter-spacing: 0.5px;}
.main-user-text h5 span{color: #696df1	;}
.main-user-select select{width: 45%; border-radius: 30px; padding: 8px 18px; border: 1px solid #e5e5e5;}
.main-user-parra{margin: 0;}

.main-user-select{padding: 0 0 20px; text-align: right;}
.main-user-select .log{background: #069962;color: #fff;font-size: 16px;font-weight: 500;padding: 8px 25px; position: relative;  z-index: 1; overflow: hidden; border-radius: 30px; display: inline-table;}
.main-user-select .log:before{background: #2e3192; position: absolute; width: 100%; height: 100%; content: ''; bottom: -45px; left: 0; z-index: -1; transition: 0.5s;}
.main-user-select .log:hover:before{bottom:0;}

.user-detaisl-left{padding: 20px; background: #f0f0f0; border-radius: 10px;}
.user-detaisl-left input{margin: 0 0 20px; border-radius: 0;}
.main-user-details table tr:nth-child(odd) { background: #f0f1ff;}
.main-user-details table tr td{font-size: 18px;}
.botton-btn{width: 100%; text-align: center;}
.user-detaisl-left h5{line-height: 50px; margin: 0 0 15px; color: #2e3192; font-weight: 700; font-size: 28px;}
.user-detaisl-left .btn-primary{color: #fff;display: block; margin: 18px auto 0; padding: 15px 30px; font-size: 20px; background: #3EC153; border: 0;}

.seminar select { width: 100%; padding: 8px 18px; border: 1px solid #e5e5e5; margin: 0 0 20px;}
.seminar-details table {width: 100%;}
.seminar-details .more_btn{padding: 8px 30px; border: 0;}